@layout('main')

@section('content')
@each(post in posts)
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">{{ title }}</div>
            <div class="card-body">
                <h4 class="card-title">{{ post.title }}</h4>
            <p class="card-text">{{ post.body }}</p>
        </div>
    </div>
@endeach
@endsection